{% if factFinder is defined and factFinder.paging.pageCount is defined and factFinder.paging.pageCount > 1 %}
    <div class="callout text-center">
        {% include '@FactFinder/layout/partials/pagination.twig' with {
            currentPage: factFinder.paging.currentPage,
            maxPage: factFinder.paging.lastPage,
            nextPage: factFinder.paging.nextPage,
            showAlwaysFirstAndLast: true
        } %}
    </div>
{% endif %}
