{% include '@FactFinder/campaigns/partials/pushed-products.twig' with {
    campaigns: searchResponse.campaignIterator.campaigns,
} %}

<div class="row">
    {% for record in factFinder.result.records %}
        <div class="small-12 medium-6 large-6 xlarge-4 columns">
            {% include "@FactFinder/layout/catalog/product.twig" with {
                    detailsUrl: record.fields.ProductURL,
                    name: record.fields.Name,
                    priceValue: record.fields.Price,
                    imageUrl: record.fields.ImageURL,
                    trackInfo: {
                    id: record.id,
                    masterId: record.fields.MasterProductNumber,
                    event: 'click',
                    query: query,
                    pos: record.position,
                    origPos: record.originalPosition,
                    page: page != null ? page : 1,
                    origPageSize: factFinder.result.records | length
                }
            } %}
        </div>
    {% endfor %}
</div>