<div class="row">
    <div class="small-12 medium-12 large-4 xlarge-3 columns">
        <input id="catalog-filters" type="checkbox" class="__toggler __no-margin-bottom hide" checked>
        <div class="callout hide-for-large">
            <label for="catalog-filters" class="button hollow expanded __no-margin-bottom">
                <i class="fa fa-filter"></i> Show/Hide filters
            </label>
        </div>
        <div class="__toggler-target">
            {% set afterSearchNavigation = searchResponse.getAfterSearchNavigation %}
            {% include '@FactFinder/layout/catalog/filters.twig' with {
                afterSearchNabigation: afterSearchNavigation
            } %}
        </div>
    </div>

    <div class="small-12 medium-12 large-8 xlarge-9 columns">

        {% include '@FactFinder/layout/partials/sort.twig' with {
            factFinder: searchResponse
        } %}

        {% include '@FactFinder/search/partials/pagination.twig' with {
            factFinder: searchResponse,
            showAlwaysFirstAndLast: true
        } %}

        {% include '@FactFinder/search/partials/records.twig' with {
            factFinder: searchResponse,
            page: page
        } %}
        
        {% include '@FactFinder/campaigns/partials/advisor.twig' with {
            campaigns: searchResponse.campaignIterator.campaigns
        } %}

        {% include '@FactFinder/campaigns/partials/feedback.twig' with {
            campaigns: searchResponse.campaignIterator.campaigns,
            feedbackBlockPositionId: 'above search result',
        } %}

        {% include '@FactFinder/campaigns/partials/feedback.twig' with {
            campaigns: searchResponse.campaignIterator.campaigns,
            feedbackBlockPositionId: 'below search result',
        } %}

        {% include '@FactFinder/campaigns/partials/redirect.twig' with {
            campaigns: searchResponse.campaignIterator.campaigns,
        } %}

        {% include '@FactFinder/campaigns/partials/pushed-products.twig' with {
            campaigns: searchResponse.campaignIterator.campaigns,
        } %}

        {% include '@FactFinder/search/partials/pagination.twig' %}

        {% include '@FactFinder/search/partials/feedback.twig' with {
            query: query,
        } %}
        
    </div>
</div>

{% if searchString is defined and searchString != '' %}
    <input type="hidden" name="query" value="{{ searchString }}" />
{% endif %}
