{% for campaign in campaigns %}
    {% if campaign.hasPushedProducts %}
        <div class="row">
            <div class="small-12 columns">
                <div class="callout">
                    <h3>{{ campaign.name }}</h3>
                    <div class="row align-spaced">
                        <div class="small-11 columns">
                            <div class="carousel" data-component="carousel">
                                {% for pushedProduct in campaign.pushedProducts %}
                                    {% include "@FactFinder/recommendations/partials/product.twig" with {
                                        detailsUrl: pushedProduct.fields.ProductURL,
                                        name: pushedProduct.fields.Name,
                                        priceValue: pushedProduct.fields.Price,
                                        imageUrl: pushedProduct.fields.ImageURL,
                                        trackInfo: {}
                                    } %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}