{% for campaign in campaigns %}
    {% if campaign.hasRedirect %}
        <div class="row">
            <div class="small-12 columns">
                <div class="callout">
                    <a href="{{ campaign.redirectUrl }}"><h3>{{ campaign.name }}</h3></a>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}