{% if factFinder.result is defined and factFinder.resultsPerPageOptions.defaultOption is defined %}

    {% set productsPerPage = factFinder.resultsPerPageOptions.defaultOption.label %}

    <div class="callout">
        <div class="row align-middle">

            <div class="small-12 large-4 xlarge-3 columns show-for-large">
                <strong>{{ factFinder.result.foundRecordsCount }}</strong> {{ "catalog.itemsFound"|trans }}
            </div>
            <div class="small-2 large-2 xlarge-2 columns">
                <label>
                    <select name="products-per-page" class="__no-margin-bottom fact-finder-products-per-page">
                        <option value="20" {% if productsPerPage == 20 %}selected{% endif %}>20</option>
                        <option value="40" {% if productsPerPage == 40 %}selected{% endif %}>40</option>
                        <option value="60" {% if productsPerPage == 60 %}selected{% endif %}>60</option>
                    </select>
                </label>
            </div>
            <div class="small-6 large-3 xlarge-3 columns">
                <label>
                    <select name="sort" class="__no-margin-bottom fact-finder-sort-options">
                        {% for sortingItem in factFinder.sortingItems %}
                            <option value="{{ sortingItem.url }}" {% if sortingItem.selected %}selected{% endif %}>{{ ('catalog.sort.' ~ sortingItem.label) | trans }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="small-4 large-3 xlarge-2 columns">
                <button type="submit" class="button hollow expanded __no-margin-bottom fact-finder-sort-action">
                    <i class="fa fa-sort"></i> Sort
                </button>
            </div>
        </div>
    </div>

{% endif %}
